*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 1100px;
  margin: 0 auto;
  font-family: Raleway, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  border-bottom: 1px solid black; /* имитация подчеркивания */
  text-decoration: none;        /* убрать стандартное подчеркивание */
}
a:has(img) {
  border-width: 0px;
}


img {
  width: 100%;
}

button {
  font: inherit;
}
