.text-align-right {
  /* стили для выравнивания текста по правой стороне*/
  text-align: right;
}
.text-align-center {
  /* стили для выравнивания текста по центру */
  text-align: center;
}
.text-align-left {
  /* стили для выравнивания текста по левой стороне*/
  text-align: left;
}
.text-upper {
  text-transform: uppercase;
}
.text-white {
  color: #FFF;
}

.block {
  display: block;
}
.inline-block {
  display: inline-block;
}

address {
  max-width: 240px;
  font-style: normal;
  line-height: 2.58ex;
}
address p {
  margin-top: 0.5px;
  margin-left: 1px;
}



header {
  /* стили для шапки*/
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  
  width: 1100px;
  height: 293px;
  
  font-size: 18px;
  font-weight: 400;
  padding: 0px 50px 4px;
  position: relative;
}
header nav {
  width: 395px;
}
header nav ul {
  width: 100%;
  list-style-type: circle;
  list-style-position: outside;
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 22px;
}
header nav li {
  padding-left: 3px;
  margin-right: 4px;
}
header nav li:first-child {
  list-style-type: none;
  padding-left: 0px;
  margin-left: 0px;
  margin-right: 0px;
}
header nav li:last-child {
  padding-right: 0px;
  margin-right: 0px;
}

header .logo-link {
  width: 100%;
  height: 100%;
}
header .logo {
  width: 136.5px;
  position: absolute;
  top: 49.5%;
  left: 50%;
  transform: translate(-50%, -50%);
}
header address {
  justify-self: end;
  padding-top: 0.5px;
}
             



.overlay::before {
  /* стили для темного 60% наложения */
  content: "";
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  z-index: -1;
}

.black-cover-no-repeat-center {
  /* стили для фоновых картинок */
  position: relative;
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
}




.cover {
  /* стили для обертки cover */
  height: 757px;
  
  background-image: url('../images/cover.jpg');
}

.cover h1 {
  /* стили заголовка */
  font-weight: bold;
  font-size: 100px;
  
  line-height: 115px;
  letter-spacing: 0.3em;
  padding: 165px 50px 0px;
}
.cover h1 span {
  padding: 0 0 20px;
}
.cover h1 span::after {
  content: "";
  margin-left: -0.3em;/* убираем нежелательный отступ */
}
.description {
  /* стили для блока описания */
  font-weight: 400;
  font-size: 22px;
  
  line-height: 28px;
  letter-spacing: -0.25px;
  word-spacing: 20px;
  
  margin: 86px 50px 50px;
  padding: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.description button {
  /* стили для кнопки */
  width: 256px;
  height: 51px;
  border: 1px solid white;
  background-color: transparent;
}



.section-title {
  font-size: 40px;
  font-weight: 700;
}

.lots {
  /* стили секции лотов */
  margin: 180px 24px 0;
}
.lots h2 {
  /* стили заголовка лотов */
  padding: 0 0 27px 40px;
}
.lots ul {
  /* стили списка карточек */
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  margin-bottom: 30px;
}
.lots article {
  /* стили карточек */
  display: flex;
  height: 596px;
  width: 334px;
  
  color: #fff;
  flex-flow: column nowrap;
  justify-content: space-between;
}
.lots article h3 {
  font-weight: bold;
  font-size: 22px;
  
  line-height: 120%;
  
  text-decoration: underline solid 0;
  text-transform: uppercase;
  color: #FFFFFF;
  
  padding: 48px 40px 0px;
}
.lots article p {
  font-weight: 400;
  font-size: 20px;
  
  line-height: 120%;
  
  text-transform: none;
  text-decoration: none;
  color: #FFFFFF;
  
  padding: 0px 40px 48px;
}
.card-film-bg {
  /* стили карточки фильма*/
  background-image: url('../images/card-lot-01.jpg');
}
.card-book-bg {
  /* стили карточки книги*/
  background-image: url('../images/card-lot-02.jpg');
}
.card-picture-bg {
  /* стили карточки картины*/
  background-image: url('../images/card-lot-03.jpg');
}

.lots-link {
  /* стили ссылки после карточек */
  margin: 30px 0 0 40px;
}




.font-20px-400 {
  font-size: 20px;
  font-weight: 400;
}



.about {
  /* стили для колонок */
  margin: 120px 24px 0;
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-template-rows: auto auto;
}
.column-logo {
  /* стили для первой колонки */
  width: 334px;
  display: flex;
  place-content: center;
  padding-top: 35px;
}
.about .column-logo .circle-for-logo {
  background-color: #000;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  display: flex;
  place-content: center;
}
.about .column-logo .circle-for-logo .logo {
  width: 148px;
}
.column-text {
  /* стили для второй колонки */
  display: grid;
  grid-template-rows: 240px auto;
  width: 693px;
  padding: 40px 0px 0px 25px;
}
.column-text h2 {
  /* стили заголовка во второй колонке */
  grid-row-start: 1;
  place-content: center;
}
.column-text div {
  /* стили текста во второй колонке */
  grid-row-start: 2;
  padding-top: 3px;
  line-height: 2.9ex;
}
.padding-5 {
  width: 690px;
}

footer {
  /* стили футера */
  font-size: 18px;
  font-weight: 400;
  
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  
  margin-top: 180px;
  padding: 0 50px;
}
footer address {
  /* стили адреса */
  padding-top: 0.5px;
}
footer ul {
  list-style: none;
}
footer nav ul {
  /* стили меню */
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .social-links {
  /* стили социальных ссылок */
  justify-self: flex-end;
  width: 240px;
  display: flex;
  justify-content: space-between;
}
footer .social-links img {
  width: 48px;
  height: 48px;
}

