.text-align-right {
  /* стили для выравнивания текста по правой стороне*/
  text-align: right;
}
.text-align-center {
  /* стили для выравнивания текста по центру */
  text-align: center;
}
.text-align-left {
  /* стили для выравнивания текста по левой стороне*/
  text-align: left;
}
.text-upper {
  text-transform: uppercase;
}
.text-white {
  color: #FFF;
}

.block {
  display: block;
}
.inline-block {
  display: inline-block;
}

header {
  /* стили для шапки*/
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  
  width: 1100px;
  height: 293px;
  
  font-size: 18px;
  font-weight: 400;

  line-height: 2.57ex;

  padding: 0px 50px 5px;
  position: relative;
}

header nav {
  max-width: 389px;
  min-width: 389px;
}
header nav ul {
  display: flex;
  justify-content: space-between;
}
header li {
  display: inline;
  height: 21px;
}

header .logo-link {
  width: 100%;
  height: 105px;
}
header .logo {
  width: 148px;
  height: 105px;
  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

header address {
  max-width: 240px;
  justify-self: end;
  font-style: normal;
}
             

.overlay::before {
  /* стили для темного 60% наложения */
  content: "";
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  z-index: -1;
}

.black-cover-no-repeat-center {
  /* стили для фоновых картинок */
  position: relative;
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
}

.cover {
  /* стили для обертки cover */
  height: 757px;
  
  background-image: url('../images/cover.jpg');
  /*
  width: 1100px;
  margin: 0px;
  padding: 0px;
  */
}

.cover h1 {
  /* стили заголовка */
  font-weight: bold; /* 700; */
  font-size: 100px;
  
  line-height: 115px;
  letter-spacing: 0.3em;

  padding: 165px 50px 0px; /* 207px; */
  /*
  position: relative;
  flex-direction: column;
  justify-content: space-around;
  height: 385;
  font-family: Raleway, sans-serif;
  */
}
.cover h1 span {
  padding: 0 0 20px;
}
.cover h1 span::after {
  content: "";
  margin-left: -0.3em; /* убираем нежелательный отступ */
}
.description {
  /* стили для блока описания */
  font-weight: 400;
  font-size: 22px;
  
  line-height: 28px;
  letter-spacing: -0.25px;
  word-spacing: 20px;
  
  margin: 86px 50px 50px;
  padding: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.description p {
  /* стили для параграфа в описании */
}
.description button {
  /* стили для кнопки */
  width: 256px;
  height: 51px;

  border: 1px solid white;
  background-color: transparent;
}

.lots {
  /* стили секции лотов */
}
.lots h2 {
  /* стили заголовка лотов */
}
.lots ul {
  /* стили списка карточек */
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.lots li {
  /* стили для элементов списка */
}
.lots a {
  /* стили ссылок карточек */
  text-decoration: none;  
}
.lots article {
  /* стили карточек */
  display: flex;
  height: 596px;
  width: 334px;
  
  color: #fff;
  flex-flow: column nowrap;
  justify-content: space-between;
  /*
  */
}
.lots article h3 {
  font-weight: bold; /* 700; */
  font-size: 22px;
  
  line-height: 120%;
  
  letter-spacing: 0%;
  
  text-transform: uppercase;
  text-decoration: underline solid 0;
  color: #FFFFFF;
  
  padding: 48px 40px 0px;
}
.lots article p {
  font-weight: 400;
  font-size: 20px;
  
  line-height: 120%;
  
  letter-spacing: 0%;
  
  text-transform: none;
  text-decoration: none;
  color: #FFFFFF;
  
  padding: 0px 40px 48px;
}

.card-film-bg {
  /* стили карточки фильма*/
  background-image: url('../images/card-lot-01.jpg');
}
.card-book-bg {
  /* стили карточки книги*/
  background-image: url('../images/card-lot-02.jpg');
}
.card-picture-bg {
  /* стили карточки картины*/
  background-image: url('../images/card-lot-03.jpg');
}

.about-auction {
  display: flex; /* для колонок */
}
.column-logo {
  /* стили для первой колонки */
}
.column-text {
  /* стили для второй колонки */
}
.column-text h2 {
  /* стили заголовка во второй колонке */
}
.column-text div {
  /* стили текста во второй колонке */
}

footer {
  /* стили футера */
}
footer address {
  /* стили адреса */
}
footer nav ul {
  /* стили меню */
}
footer nav ul li a {
  /* стили ссылок в меню */
}
footer .social-links a {
  /* стили социальных ссылок */
}

